_assets/all-desktop
_assets/kr1-desktop/icons
_assets/kr1-desktop/images/fullhd/*.png
_assets/kr1-desktop/images/fullhd/*.dds
_assets/kr1-desktop/sounds/files
_assets/kr1-desktop/strings/de.lua
_assets/kr1-desktop/strings/en.lua
_assets/kr1-desktop/strings/es.lua
_assets/kr1-desktop/strings/fr.lua
_assets/kr1-desktop/strings/it.lua
_assets/kr1-desktop/strings/ja.lua
_assets/kr1-desktop/strings/ko.lua
_assets/kr1-desktop/strings/pt.lua
_assets/kr1-desktop/strings/ru.lua
_assets/kr1-desktop/strings/zh-Hant.lua
.vscode/
mdbuild/
tmp/
kr1-desktop/data/comics
patches/config.lua
patches/criket.lua
patches/keyset_custom.lua
英雄明细.pdf
update_log.txt
last_build_commit.txt
arg
b